/* From Uiverse.io by guilhermeyohan */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    font-family: "Rubik", sans-serif;
}

body {
    background: rgb(20, 20, 20);
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(24, 20, 20, 0.987);
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 0 5px #00e1ff,
        0 0 20px #00e1ff,
        0 0 30px #00e1ff,
        0 0 20px #00e1ff;
}

.login-box .user-box {
    position: relative;
}

label {
    font-family: "Rubik", sans-serif;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
    top: -20px;
    left: 0;
    color: #bdb8b8;
    font-size: 12px;
}

.login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    font-family: "Rubik", sans-serif;
    margin-top: 40px;
    letter-spacing: 4px
}

.login-box a:hover {
    background: #00e1ff;
    color: #fff;
    font-family: "Rubik", sans-serif;
    border-radius: 5px;
    box-shadow: 0 0 5px #00e1ff,
        0 0 25px #00e1ff,
        0 0 50px #00e1ff,
        0 0 100px #00e1ff;
}

.login-box a span {
    position: absolute;
    font-family: "Rubik", sans-serif;
    display: block;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }

    50%,
    100% {
        left: 100%;
    }
}

.login-box a span:nth-child(1) {
    bottom: 2px;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #00e1ff);
    animation: btn-anim1 2s linear infinite;
}

.top {
    color: white;
    font-family: "Rubik", sans-serif;
    position: relative;
    bottom: 18;
    display: none;
}

.submit {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
}